# 🤿Who am I ?

I am Gwenola, an Educator with 10 years of experience in France. Passionate about the ocean, I have been a diver for 7 years and a PADI instructor since December 2022. My goal is to share this passion by enabling everyone to discover the marine world in safe conditions. I work in a French international school, combining my educational commitment and passion for the ocean. I am delighted to be part of this community and eager to share these passions with your children.

<div class="dt">
  <div class="dtc tc pv2">
    <img src="/images/gweno_logo.webp">
  </div>
  <div class="dtc tc pv2">
    <figure>
      <img src="/images/licence_padi_pro_2.webp">
      <figcaption>Instructor number: 529952</figcaption>
    </figure>
  </div>
  <div class="dtc tc pv2">
    <img src="/images/gdt.webp">
  </div>
</div>

# ☎️ How to book your stay

<div class="dt">
  <div class="dtc tc">
    <figure>
      <img src="/images/LINE_logo.svg.webp" width="50px">
      <figcaption>ID: gweno16</figcaption>
    </figure>
  </div>
  <div class="dtc tc">
    <figure>
      <img src="/images/Instagram-Logo.wine.webp" width="50px">
      <figcaption>Gweno diving Taiwan</figcaption>
    </figure>
  </div>
  <div class="dtc tc">
    <figure>
      <img src="/images/logo-facebook.webp" width="50px">
      <figcaption>Gweno Diving Taiwan</figcaption>
    </figure>
  </div>
</div>

# 🤿Swimming pool address

<span class="red">No. 69號, Yucheng St, Nangang District, Taipei City, 115</span>

<div class="dt">
  <div class="dtc tc">
    <figure>
      <img src="/images/nanggang_center.webp">
      <figcaption>NANGGANG SPORT CENTER</figcaption>
    </figure>
  </div>
  <div class="dtc tc">
    <figure>
      <img src="/images/diving_pool.webp">
    </figure>
  </div>
</div>
<div class="dt">
  <div class="dtc tc">
    <figure>
      <img src="/images/map_piscine.webp">
      <figcaption>No. 69號, Yucheng St, Nangang District, Taipei City, 115</figcaption>
    </figure>
  </div>
</div>
